.section-steps {
    background-color: $color-light-grey;
}

.steps-box:first-child {
    margin-top: 3rem;
    padding-right: 3%;
    text-align: right;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 7rem;
}

.ios-app-screen {
    height: auto;
    width: 40%;
}

.works-steps {
    margin-bottom: 5rem;
}

.works-steps:last-of-type {
    margin-bottom: 8rem;
}

.works-steps div {
    border: .2rem solid $primary-orange;
    border-radius: 50%;
    color: $primary-orange;
    float: left;
    font-size: 3.3rem;
    height: 5.5rem;
    margin-right: 2.5rem;
    padding: .5rem;
    text-align: center;
    width: 5.5rem;
}

.btn-app {
    display: inline-block;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 5rem;
    width: auto;
    margin-right: 1rem;
}