.section-features {
    .long-copy {
        line-height: 145%;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 70%;
    }
}

.box {
    p {
        line-height: 145%;
    }
}

p {
    font-size: 1.8rem;
}