select,
textarea {
    border: 1px solid #cccccc;
    border-radius: .3rem;
    padding: .7rem;
    width: 100%;
}

.contact-form {
    width: 60%;
    margin: 0 auto;

    input {

        &[type='text'],
        &[type='email'], {
            @extend select;
        }

        &[type="checkbox"] {
            margin: 10px 5px 10px 0px
        }

        &[type="submit"] {
            background-color: $primary-orange;
            padding: 1rem 3rem;
        }
    }
    
    div div label {
        font-size: 1.8rem;
    }

    .form-side-section {
        font-size: 1.6rem;
    }
}




