/*COLORS*/

// primary bg
$primary-bg: #2f3437;

$color-white: #ffffff;
$color-black: #000000;
$primary-orange: #F97F51;
$primary-orange-dark: #f74f0f;

$color-dark-grey: #555;
$color-medium-grey: #efefef;
$color-light-grey: #f4f4f4;

/*GRID*/

$grid-width : 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;