.anm--section-features,
.anm--iphone-img,
.anm--cities {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    opacity: 0;
}

.anm--plan-box.animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.anm--section-features.animated.fadeIn,
.anm--iphone-img.animated,
.anm--cities.animated {
    opacity: 1;
}
.parent {

    position: relative;
}

.hamburger {
    float: right;
    height: 3rem;
    width: 10rem;
}

.hamburger div {
    height: .2rem;
    margin-bottom: 5px;
    background-color: #e8e8e8;
    width: 5rem;
}

.hamburger:hover div:first-child {
    transform: translate3d(0,-5px,0);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.hamburger:hover div:last-child {
    transform: translate3d(0,5px,0);
     -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.hamburger.in div:first-child {
    margin: 0px;
    transform-origin: 50% 50%;
    transform: translate3d(0,6px,0) rotate(45deg);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.hamburger.in div:last-child {
    margin: 0px;
    transform: translate3d(0,-6px,0) rotate(-45deg);
     -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.hamburger.in .second{
    display: none;
}