header {
    /* using liner gradietn is like using two images at the same time */
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
    /* To avoid extra zoomout image and center it */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 114rem;
}

.omnifood {
    &-logo {
        float: left;
        height: 10rem;
        width: auto;
    }
    &-black-logo {
        display: none;
    }
}