/* ----- ICONS ----- */

.icon-big {
    color: $primary-orange;
    display: block;
    font-size: 4rem;
}

.icon-sm {
    color: $primary-orange;
    display: inline-block;
    font-size: 2rem;
    margin-right: 1rem;
    text-align: center;
    width: 3rem;
    /* secrets to align text and icons */
    line-height: 120%;
    margin-top: -.5rem;
    vertical-align: middle;

}